/* Reset and basic styling */
 
 
body {
    background-image: url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;
  }

/* Drawer styles */
.drawer {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1;
}

.drawer-header {
    padding: 20px 10px;
    color: white;
    text-align: center;
    background-image: url('assets/header.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #555;
    position: relative;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-name {
    font-size: 18px;
}

.drawer .email {
  
    color: #c7c7c7;
}

.drawer-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.drawer-menu li {
    padding: 8px 16px;
    text-align: center;
}

.drawer-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.drawer-menu li a:hover {
    background-color: #903e3e;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.open-btn {
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    margin: 20px;
}

.main-content {
    margin-left: 0;
    padding: 16px;
    transition: margin-left 0.3s;
}

.drawer-open .drawer {
    left: 0;
}

@media (max-width: 768px) {
    .drawer {
        width: 200px;
        left: -200px;
    }

    .main-content {
        margin-left: 0;
    }

    .drawer-open .main-content {
        margin-left: 200px;
    }
}

@media (max-width: 576px) {
    .drawer {
        width: 150px;
        left: -150px;
    }

    .main-content {
        margin-left: 0;
    }

    .drawer-open .main-content {
        margin-left: 150px;
    }
}
